astroid			
Click			
colorama		
fastapi			
gunicorn		
h11				
isort			
lazy-object-proxy
mccabe			
pydantic		
pylint			
six				
starlette		
uvicorn			
websockets		
wrapt			
uvloop
redis==4.5.4
twilio==8.1.0
vonage==3.5.1
pyngrok==6.0.0
python-dotenv==1.0.0
vocode==0.1.111a3